# Python
__pycache__/
*.py[cod]
*.pyc.*
*.pyo
*.pyd
.pycache_tmp/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE/editor
.vscode/
.idea/

# Streamlit / temp files
*.log
*.db
*.sqlite
*.zip
*.csv
*.json

# OS
.DS_Store
Thumbs.db

# excel file
*.xlsx
*.xml
